<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static "resumebuilder/login.js" %}"></script>
</head>
<body>

<div class="container-fluid">
  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
  <h2 style="text-align:center">Welcome to ResumeBuilder!</h2>
  {% if error is not None %}
  {% if error == '1' %}
  <div class="alert alert-warning">Registration failed, e-mail ID exists.</div>
  {% endif %}
  {% if error == '2' %}
  <div class="alert alert-warning">Login failed.</div>
  {% endif %}
  {% endif %}
  {% if success is not None %}
  <div class="alert alert-success">Registration successful.</div>
  {% endif %}
  <form action="/login/" method="POST">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
    </div>
    <!--
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    -->
    <button type="submit" class="btn btn-default">Submit</button>
    <p>Not a member yet? <a data-toggle="modal" href="#myModal">Register Now</a></p>
  </form>
  </div>
  <div class="col-sm-4"></div>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Register</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" action="/register/" method="POST">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" name="usrname" placeholder="Enter Full Name" required>
            </div>
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Email</label>
              <input type="email" class="form-control" id="usremail" name="usremail" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="pswd" name="usrpswd" placeholder="Enter password" required>
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Confirm Password</label>
              <input type="password" class="form-control" id="cfpswd" name="cfpswd" placeholder="Confirm password" onkeyup="checkPasswd()" required>
              <label for="psw" id="passmismatch"></label>
            </div>
              <button id="submit" type="submit" class="btn btn-success btn-block" disabled><span class="glyphicon glyphicon-off"></span> Register</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
      </div>
      
    </div>
  </div> 
</div>

</body>
</html>

