<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <title>User profile - {{ user.first_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="{% static "resumebuilder/profile.js" %}"></script>
  <script src="{% static "resumebuilder/moment.js" %}"></script>
</head>
<body>

<div class="container">
  <div class="card">
    <div class="card-body">
        <h3 class = "card-title">{{ user.first_name }} - <span id="email">{{ user.email }}</span></h3>
        <div id="logout" class="card-subtitle"><h6><a href="/logout">Logout</a></h6></div>
        <div id="download" class="card-subtitle"><h6><a href="/profile?download=1">Download as PDF</a></h6></div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
        <p class = "card-text">Title: <span id="jobtitle_main">{{ user_profile.job_title }}</span> </p>
        <p class = "card-text">Total Experience: <span id="expYears_main">{{ user_profile.total_exp_years }}</span> Years 
            <span id="expMonths_main">{{ user_profile.total_exp_months}}</span> Months</p>
        <p class = "card-text">Current CTC:  <span id="curCTC_main">{{ user_profile.current_CTC }}</span></p>
        <p class = "card-text">Expected CTC: <span id="expCTC_main">{{ user_profile.expected_CTC }}</span> </p>
        <p class = "card-text">Profile Summary: <span id="prosum_main">{{ user_profile.prof_summary }}</span> </p>
        <span style="display:inline-block">
            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myProfile"><i class="fa fa-edit"></i> Profile Settings</button>
        </span>
    </div>
  </div>
  <br>
  <div class="card">
        <h3 class="card-header">Employment History
        <span style="display:inline-block"><button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myEmpModal"><i class="fa fa-plus-square"></i> Add </button>
        </span>
        </h3>
        <div class="card-body">
        {% for row in user_emp_array %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> <span id="company_main">{{row.company_name}}</span> 
                        <span style="display:inline-block"><button type="button" onclick="deleteRow('{{user.email}}', '{{row.company_name}}')" class="btn btn-success btn-block"><i class="fa fa-trash"></i>Remove</button> 
                        </span>
                    </h5>
                    <p class="card-text">Location: <span id="location_main">{{row.loc_city}}, {{row.loc_country}}</span></p>
                    <p class="card-text">Title: <span id="title_main">{{row.job_title}}</span>, Role: <span id="role_main">{{row.job_role}}</span></p>
                    <p class="card-text">Duration: <span id="duration_main">{{row.period_from}} to {% if row.is_current %} Current Date {% else %}{{row.period_to}} {% endif %}</span></p>
                    <p class="card-text">Description: <span id="description_main">{{row.desc}}</span></p>
                </div>
            </div>
        {% endfor %}
        </div>
  </div>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myEmpModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4>Add Employment</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="comp">Company</label>
              <input type="text" class="form-control" id="comp">
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="loc">Location</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="locCity" name="locCity"> City
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="locCountry" name="locCountry"> Country
                    </div>
                </div>
            </div>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" >
            </div>
            <div class="form-group">
              <label for="role">Role</label>
              <input type="text" class="form-control" id="role" >
            </div>
            <div class="form-group">
                <label for="period">Period</label>
                <p>
                <input type="date" name="fromDate" id="fromDate">
                through
                <input type="date" name="toDate" id="toDate">
                </p>
            </div>
            <div class="form-group">
                <div class="checkbox">
                <label><input type="checkbox" value="" id="currentCheck">Yes, I currently work here</label>
                </div>
            </div>
            <div class="form-group">
                <label for="desc">Description (Optional)</label>
                <textarea class="form-control" rows="4" id="desc"></textarea>
            </div>
            <p id="message"></p>
          </form>
        </div>
        <div class="modal-footer">
            <button id="saveEmp" class="btn btn-success btn-block" onclick="saveEmployment()">Save</button>
            <button type="submit" class="btn btn-danger btn-default" data-dismiss="modal"><i class="fa fa-remove"></i> Cancel</button>
        </div>
        </div>
      </div>
      
    </div>
  </div> 
</div>


<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myProfile" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4>Edit Profile Settings</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form role="form">
                <div class="form-group">
      <label for="jobtitle">Job Title:</label>
      <input type="text" class="form-control" id="jobtitle" placeholder="Enter current designation" name="jobtitle" value={{user_profile.job_title}}>
    </div>
    <div class="form-group">
      <label for="prosum">Profile Summary:</label>
      <textarea class="form-control" rows="2" id="prosum">{{user_profile.prof_summary}}</textarea>
    </div>
    <div class="form-group">
      <label for="curCTC">Current CTC:</label>
      <input type="text" class="form-control" id="curCTC" placeholder="Enter current CTC" name="curCTC" value={{user_profile.current_CTC}}>
    </div>
    <div class="form-group">
      <label for="expCTC">Expected CTC:</label>
      <input type="text" class="form-control" id="expCTC" placeholder="Enter expected CTC" name="expCTC" value={{user_profile.expected_CTC}}>
    </div>
    <div class="form-group">
    <div class="row">
        <div class="col-sm-4">
      <label for="totalExp">Total Experience:</label>
        </div>
        <div class="col-sm-4">
      <input type="number" class="form-control" id="expYears" name="expYears" value={{user_profile.total_exp_years}} min="0" max="40"> Years
        </div>
        <div class="col-sm-4">
      <input type="number" class="form-control" id="expMonths" name="expMonths" value={{user_profile.total_exp_months}} min="0" max="12"> Months
        </div>
    </div>
    </div>
    <p id="message"></p>
    </form>
        </div>
        <div class="modal-footer">
            <button id="saveButton" class="btn btn-success btn-block" onclick="saveProfile()">Save</button>
            <button class="btn btn-danger btn-default pull-left" data-dismiss="modal"><i class="fa fa-remove"></i> Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
