<!DOCTYPE html>
<html>
<head>
    <title>User profile - {{ user.first_name }}</title>
</head>
<body>
<h4>{{ user.first_name }}</h4>
<h6>{{ user.email }}</h6>
<hr>
<p><strong>Title</strong>: {{ user_profile.job_title }} </p>
<p><strong>Total Experience</strong>: {{ user_profile.total_exp_years }} Years, {{ user_profile.total_exp_months }} Months</p>
<p><strong>Current CTC</strong>: {{ user_profile.current_CTC }}</p>
<p><strong>Expected CTC</strong>: {{ user_profile.expected_CTC }}</p>
<p><strong>Profile Summary</strong>: {{ user_profile.prof_summary }}</p>
<hr>
<h4>Employment History:</h4>
{% for row in user_emp_array %}
<h5>{{row.company_name}} {% if row.is_current %} (Current) {% endif %}</h5>
<p><strong>Location</strong>: {{ row.loc_city}}, {{ row.loc_country }}</p>
<p><strong>Title</strong>: {{ row.job_title }}</p>
<p><strong>Role</strong>: {{ row.job_role }}</p>
<p><strong>Duration</strong>: {{row.period_from}} to {{row.period_to}}</p>
<p><strong>Description</strong>: {{ row.desc }}</p>
{% endfor %}
</body>
</html>
